@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900);

body {
    padding-top: 80px;
}

span div table tr td th {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}
.table-responsive, table {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 12px;
}
table.table-delta-price {
    margin-bottom: 16px;
}
table.table-delta-price>tbody>tr>td {
    padding:0;
    border: 0;
}
table.table-delta-price h1 {
    margin: 0 0 4px 0;
}
table.table-competitor > tbody > tr > td {
    padding: 4px;
    box-shadow: none;
}
table.table-competitor > tbody > tr > td:last-child {
    padding-right: 0;
}
table.table-competitor > tbody > tr > td:first-child {
    padding-left: 0;
}
table.table-competitor caption {
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    color: #000;
}
li.submenu ul.dropdown-menu[data-bs-popper] {
    border-width: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
li.submenu ul.dropdown-menu[data-bs-popper] li {
    padding-left: 0.5em;
}
li.submenu a[role="button"].show::after {
    transform: rotate(90deg);
}
.container-fluid a {
    text-decoration:none;
}
.container-fluid {
    line-height:200%;
}
.dropdown-menu li button {
    text-align:left;
}
.nav-link.active {
    font-weight: bold !important;
}
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
    .filter {
        position: fixed;
    }
}
@media only screen and (min-width: 992px) {
    .filter {
        position: fixed;
    }
}
@media only screen and (min-width: 1200px) {
    .filter {
        position: fixed;
    }
}
div.sidebar {
    max-width: 320px;
}
.main-area {
    width: calc(100% - 320px)!important;
}
.sidebar label.col-form-label[for] {
    padding-bottom: 2px;
}
.sidebar .input-wrapper {
    margin-bottom: 16px;
}
.jumbotron-product {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: 4px solid #b2b2b2;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.jumbotron-product h4.title {
    margin-bottom: 2px;
}
.jumbotron-product h6.category {
    margin-top: 0px;
    margin-bottom: 16px;
}
.jumbotron-product h5 {
    margin-top: 0;
    margin-bottom: 16px;
}
.jumbotron-product h6 {
    margin-bottom: 2px;
}
.ricarico {
    display: block;
    padding: 6px;
    padding-top: 0;
    font-size: 11px;
    line-height: 150%;
    text-align: center !important;
    margin-bottom: 10px;
    color: forestgreen;
    display: block;
    float: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.ricarico-minus {
    display: block;
    padding: 6px;
    padding-top: 0;
    font-size: 11px;
    line-height: 150%;
    text-align: center !important;
    margin-bottom: 10px;
    color: #dc3545 !important;
    display: block;
    float: left;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
.ricarico-icon {
    font-size: 28px;
    display: block;
    float: left;
    color: yellowgreen;
    padding-top: 2px;
}
.ricarico-icon-minus {
    font-size: 28px;
    display: block;
    float: left;
    color: #dc3545 !important;
    padding-top: 2px;
}
.primary-price {
    font-family: "Montserrat", sans-serif;
    color:royalblue;
}
.primary-price-badge {
    font-family: "Montserrat", sans-serif;
    color:royalblue;
    display: block;
    float: left;
    width: 100%;
    margin-top: -10px;
    margin-bottom:15px;
}
.primary-price-fornitore {
    font-family: "Montserrat", sans-serif;
    color: slategrey !important;
    display: block;
    float: left;
    width: 100%;
    margin-top: 4px;
}
.primary-price-competitor-badge {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: darkgoldenrod !important;
    display: block;
    float: left;
    width: 100%;
}
.primary-price-fornitore-badge {
    font-family: "Montserrat", sans-serif;
    color: slategrey !important;
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.primary-price-di-ricarico {
    font-family: "Montserrat", sans-serif;
    display: block;
    float: left;
    width: 100%;
    margin: 8px 0;
}

.primary-price-strike {
    font-family: "Montserrat", sans-serif;
    color: royalblue;
    text-decoration: line-through;
}
.primary-price-strike-badge {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display:block;
    float:left;
    width:100%;
    margin:0;
}
.badge-price {
    display: initial;
    width: 85px;
    margin-bottom: -10px;
    font-weight: 300;
}
.badge-price-suggest {
    display: block;
    width: 110px;
    margin-bottom: -10px;
    font-weight: 300;
}
.last-update {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size:11px;
}
.modal-content {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.bullet-barcode {
    position: absolute;
    left: 24px;
    top: -1px;
    z-index: 1;
    width: 18px;
    height: 18px;
}
.bullet-articolo {
    position: absolute;
    left: 44px;
    top: 4px;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    color: royalblue;
    font-weight: 300;
}
.bullet-brand {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: gray;
    font-weight: 400;
}
.linea-prodotto {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
}

input[id="rbApprovalState_1"]:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid gray;
}

input[id="rbApprovalState_1"]:checked:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid gray;
}

input[id="rbApprovalState_2"]:after,
input[id="rbApprovalState_4"]:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #3c763d;
}
input[id="withPrice_1"]:checked:after,
input[id="rbApprovalState_4"]:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -3px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #3c763d;
}
input[id="rbApprovalState_3"]:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #dc3545;
}

input[id="withPrice_2"]:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -3px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #dc3545;
}
input[id="rbApprovalState_5"]:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #fd7e14;
}

input[id="rbApprovalState_5"]:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -3px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #fd7e14;
}
input[id="rbApprovalState_0"]:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -2px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #0088ff;
}

input[id="withPrice_0"]:checked:after,
input[id="rbApprovalState_0"]:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    top: -3px;
    left: -3px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid #0088ff;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.navbar-fixed-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
}