<table class="table table-striped mt-3" style="padding:2px !important;">
    <tbody>
        <% if (competitorPriceHistory.length === 0) { %>
            <tr>
                <td colspan="2" class="text-center text-muted">
                    Nessun risultato
                </td>
            </tr>
        <% } else { %>
            <% competitorPriceHistory.forEach(function(entry) { 
                const date = new Date(entry.created_at);
                const formattedDate = date.toLocaleDateString('es-AR');
            %>
                <tr>
                    <td scope="col"><%= formattedDate %></td>
                    <td scope="col" class="text-right">
                        <span class="PrezzoListinoFornitore">
                            <%= entry.price %><span class="bi bi-currency-euro"></span>
                        </span>
                    </td>
                </tr>
            <% }); %>
        <% } %>
    </tbody>
</table>

<div class="col-xs-12 text-right">
    <input type="button" class="btn btn-primary btn-product-price-history-ok" value="OK">
</div>

