<div class="mb-4">
    <label for="new-competitor-url" class="col-form-label">Competitor URL</label>
    <input
        id="new-competitor-url"
        type="text"
        class="form-control"
        required
        value="<%= productUrl %>"
        placeholder="es: https://www.example.com/product"
    >
</div>
<div class="col-xs-12 text-right mb-4">
    <input type="button" class="btn btn-primary btn-competitor-url-ok" value="OK">
</div>