<nav class="navbar navbar-dark container-fluid navbar-fixed-custom" style="background-color:#000; border-radius:0;">
    <div class="container-fluid" style="background-color:#000;">
        <div class="d-flex flex-wrap w-100 justify-content-between align-items-center" id="menu">
            <div class="hidden-xs">
                <a class="navbar-brand hidden-xs" href="/product-list" style="padding:0;">
                    <img src="../../images/dc-group.png" alt="Logo" style="height:40px; margin-right:10px; margin-top: 4px;">
                </a>
                <ul class="navbar-nav d-flex flex-row flex-wrap hidden-xs">
                    <li class="nav-item">
                        <a class="nav-link" href="/product-list">Rilevamento Prezzi</a>
                    </li>
                    <li class="nav-item dropdown" style="display:none;">
                        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Configurazione
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/gruppi-operativi/" class="dropdown-item">Gruppi di lavoro</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav d-flex flex-row flex-wrap align-items-center" style="gap: 3rem;">
                <li class="nav-item">
                    <button type="button" class="btn btn-primary btn-download-excel hidden-xs" style="border-radius: 20px;">
                        <span class="glyphicon glyphicon-download-alt mx-2"></span> Scarica excel
                    </button>
                    <button type="button" class="btn btn-primary btn-download-excel visible-xs" style="border-radius: 50%; padding: 8px 12px;">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                </li>
                <li class="nav-item">
                    <span class="text-white"> <%= user.Nominativo %> (<%= user.Ruolo %>)</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none" id="logout" href="#">
                        <span class="glyphicon glyphicon-log-out text-white" style="font-size: 20px;"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
