################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/.idea
/config.db.js
.env
node_modules/
*/**/*.sql
