<!DOCTYPE html>
<html>
<head>
    <title>Web APP DC - User Change Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="http://localhost:5000/logout-script"></script>
</head>
<body>
    <form name="frmUserChangePassword" class="was-validated" novalidate>
        <%- include('partials/header'); %>
        <div class="container-fluid">
            <h5>
                <span class="glyphicon glyphicon-user"></span> 
                Cambio password
                <hr style="border: 1px solid #d1d1d1;" />
            </h5>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Cambia Password</b>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="oldPassword">
                                <b>Vecchia Password</b>
                            </label>
                            <input type="text" class="form-control" id="oldPassword" required>
                                <div class="valid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword">
                                <b>Nuova Password</b>
                            </label>
                            <input type="text" class="form-control" id="newPassword" required>
                                <div class="valid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword">
                                <b>Conferma Password</b>
                            </label>
                            <input type="text" class="form-control" id="confirmPassword" required>
                                <div class="valid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <hr />
                            <input type="button" class="btn btn-success btn-update-password" value="Aggiorna Password" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</body>
</html>