<!DOCTYPE html>
<html>
<head>
    <title>Web APP DC - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include('partials/head'); %>
    <script type="text/javascript" src="/utility-script"></script>
    <script type="text/javascript" src="/validation-script"></script>
    <script type="text/javascript" src="/login-script"></script>
</head>
<body>
    <form name="frmLogin" method="post" class="was-validated" novalidate>
        <div class="container">
            <div class="row" style="display:block; padding-top:10%;">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="jumbotron" style="border:1px solid #d0d0d0;">
                        <div class="container-fluid">
                            <h4 style="position:absolute; left:90%; top:2%;">
                                <span class="glyphicon glyphicon-user float-right text-muted"></span>
                            </h4>
                            <div class="col-lg-12">
                                <h2 style="text-align:center;"><b>APP - Monitor Rilevamento Prezzi</b></h2>
                                <hr>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label for="UserId">User ID</label>
                                    <input class="form-control" type="text" name="Userid" id="Userid" required value="acquisti2@dcgroupitalia.com">
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback d-none">Inserire un valore corretto</div>
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input class="form-control" type="password" name="Password" id="Password" required value="123456789">
                                    <div class="valid-feedback"></div>
                                    <div class="invalid-feedback d-none">Inserire un valore corretto</div>
                                </div>
                                <div class="form-group form-errors" style="display:none;">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <b>User Authentication</b>
                                        </div>
                                        <div class="panel-body pnl-errors"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <input type="button" class="btn btn-primary btn-login" value="Accedi" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>